
data/msb-paleon.1.0.zip
data/msb-paleon.1.0/manifest.txt
data/msb-paleon.1.0/msb-paleon.1.0.report.xml
data/msb-paleon.1.0/msb-paleon.1.0.txt
data/msb-paleon.1.0/msb-paleon.1.0.xml
data/msb-paleon.1.0/SetTreeComp_Level2_v1.0.nc
data/msb-paleon.2.0.zip
data/msb-paleon.2.0/manifest.txt
data/msb-paleon.2.0/msb-paleon.2.0.report.xml
data/msb-paleon.2.0/msb-paleon.2.0.txt
data/msb-paleon.2.0/msb-paleon.2.0.xml
data/msb-paleon.2.0/SetTreeComp_West_Level1_v1.0.csv
data/msb-paleon.27.0.zip
data/msb-paleon.27.0/manifest.txt
data/msb-paleon.27.0/msb-paleon.27.0.report.xml
data/msb-paleon.27.0/msb-paleon.27.0.txt
data/msb-paleon.27.0/msb-paleon.27.0.xml
data/msb-paleon.27.0/PLS_Indiana_trees_Level0_v1.0.csv
data/msb-paleon.28.0.zip
data/msb-paleon.28.0/manifest.txt
data/msb-paleon.28.0/msb-paleon.28.0.report.xml
data/msb-paleon.28.0/msb-paleon.28.0.txt
data/msb-paleon.28.0/msb-paleon.28.0.xml
data/msb-paleon.28.0/PLS_Illinois_trees_Level0_v1.0.csv
data/msb-paleon.29.0.zip
data/msb-paleon.29.0/manifest.txt
data/msb-paleon.29.0/msb-paleon.29.0.report.xml
data/msb-paleon.29.0/msb-paleon.29.0.txt
data/msb-paleon.29.0/msb-paleon.29.0.xml
data/msb-paleon.29.0/PLS_SoutheasternMichigan_trees_Level0_v1.0.csv
data/msb-paleon.3.0.zip
data/msb-paleon.3.0/manifest.txt
data/msb-paleon.3.0/msb-paleon.3.0.report.xml
data/msb-paleon.3.0/msb-paleon.3.0.txt
data/msb-paleon.3.0/msb-paleon.3.0.xml
data/msb-paleon.3.0/OH_PLS_Witness_Trees.zip
data/msb-paleon.3.0/OH_PLS_Witness_Trees/OH_PLS_Witness_Trees.dbf
data/msb-paleon.3.0/OH_PLS_Witness_Trees/OH_PLS_Witness_Trees.prj
data/msb-paleon.3.0/OH_PLS_Witness_Trees/OH_PLS_Witness_Trees.shp
data/msb-paleon.3.0/OH_PLS_Witness_Trees/OH_PLS_Witness_Trees.shx
data/msb-paleon.30.0.zip
data/msb-paleon.30.0/manifest.txt
data/msb-paleon.30.0/msb-paleon.30.0.report.xml
data/msb-paleon.30.0/msb-paleon.30.0.txt
data/msb-paleon.30.0/msb-paleon.30.0.xml
data/msb-paleon.30.0/PLS_southernMichigan_trees_Level0_v1.0.csv
data/msb-paleon.31.0.zip
data/msb-paleon.31.0/manifest.txt
data/msb-paleon.31.0/msb-paleon.31.0.report.xml
data/msb-paleon.31.0/msb-paleon.31.0.txt
data/msb-paleon.31.0/msb-paleon.31.0.xml
data/msb-paleon.31.0/PLS_northernMichigan_trees_Level0_v1.0.csv
data/msb-paleon.32.0.zip
data/msb-paleon.32.0/manifest.txt
data/msb-paleon.32.0/msb-paleon.32.0.report.xml
data/msb-paleon.32.0/msb-paleon.32.0.txt
data/msb-paleon.32.0/msb-paleon.32.0.xml
data/msb-paleon.32.0/PLS_Wisconsin_trees_Level0_v1.0.csv
data/msb-paleon.4.0.zip
data/msb-paleon.4.0/manifest.txt
data/msb-paleon.4.0/msb-paleon.4.0.report.xml
data/msb-paleon.4.0/msb-paleon.4.0.txt
data/msb-paleon.4.0/msb-paleon.4.0.xml
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0.csv
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0.zip
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0.cpg
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0.csv
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0.dbf
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0.prj
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0.sbn
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0.sbx
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0.shp
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0.shx
data/msb-paleon.4.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_Northeast_Level1_v1.0/SetTreeComp_NortheastTownNames_Level1_v1.0.csv
data/msb-paleon.4.0/SetTreeComp_NortheastTownNames_Level1_v1.0.csv
data/msb-paleon.5.0.zip
data/msb-paleon.5.0/manifest.txt
data/msb-paleon.5.0/msb-paleon.5.0.report.xml
data/msb-paleon.5.0/msb-paleon.5.0.txt
data/msb-paleon.5.0/msb-paleon.5.0.xml
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0.csv
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0.zip
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0.cpg
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0.csv
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0.dbf
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0.prj
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0.sbn
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0.sbx
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0.shp
data/msb-paleon.5.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0/SetTreeComp_Ohio_Level1_v1.0.shx
data/pone.0151935.s002.zip
data/pone.0151935.s002/FIA_conversion_v0.2.csv
data/pone.0151935.s002/fullpaleon_conversion_v0.3-3.csv
data/pone.0151935.s002/pft.trans.table.csv
data/pone.0151935.s002/plss.pft.conversion_v0.1-1.csv
data/pone.0151935.s003.zip
data/pone.0151935.s003/wiki_outputs/mapped_gain_v0.9-10.dbf
data/pone.0151935.s003/wiki_outputs/mapped_gain_v0.9-10.prj
data/pone.0151935.s003/wiki_outputs/mapped_gain_v0.9-10.shp
data/pone.0151935.s003/wiki_outputs/mapped_gain_v0.9-10.shx
data/pone.0151935.s003/wiki_outputs/mapped_lost_v0.9-10.dbf
data/pone.0151935.s003/wiki_outputs/mapped_lost_v0.9-10.prj
data/pone.0151935.s003/wiki_outputs/mapped_lost_v0.9-10.shp
data/pone.0151935.s003/wiki_outputs/mapped_lost_v0.9-10.shx
data/pone.0151935.s003/wiki_outputs/plss_basal_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_basal_pft_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_biomass_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_biomass_pft_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_composition_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_counts_alb_0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_density_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_density_pft_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_diam_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_diam_veil_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_plots_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_plots_pft_alb_v0.9-10.csv
data/pone.0151935.s003/wiki_outputs/plss_plots_taxa_alb_v0.9-10.csv
gis/beech.tif
gis/hemlock.tif
gis/illinoistrees.dbf
gis/illinoistrees.prj
gis/illinoistrees.shp
gis/illinoistrees.shx
gis/indianatrees.dbf
gis/indianatrees.prj
gis/indianatrees.shp
gis/indianatrees.shx
gis/northmichigantrees.dbf
gis/northmichigantrees.prj
gis/northmichigantrees.shp
gis/northmichigantrees.shx
gis/open.tif
gis/semichigantrees.dbf
gis/semichigantrees.prj
gis/semichigantrees.shp
gis/semichigantrees.shx
gis/soil.tif
gis/southmichigantrees.dbf
gis/southmichigantrees.prj
gis/southmichigantrees.shp
gis/southmichigantrees.shx
gis/topoclim.tif
gis/trees.dbf
gis/trees.prj
gis/trees.shp
gis/trees.shx
gis/whitepine.tif
gis/wisconsintrees.dbf
gis/wisconsintrees.prj
gis/wisconsintrees.shp
gis/wisconsintrees.shx
